.inner {
  width: 1200px;
  margin: 0 auto;
}

.OrderHistory {
  font-weight: bold;
  text-align: center;
  margin: 65px;
}

.readheader {
  height: 120px;
  display: flex;
  justify-content: center;
  border: 3px solid #dee2e6;
  margin-top: 5px;
}

.readh2 {
  margin: 40px;
  display: flex;
  align-items: center;
}

.readDate {
  font-size: 20px;
  color: #202020;
  margin-right: 40px;
  font-weight: bold;
}

.datebtn {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0;
}

.datebtn:hover {
  background-color: #a7a7a7;
  color: #fff;
  transition-duration: 0.3s;
}

.datebox {
  margin-left: 40px;
  display: flex; /* 내부 요소를 가로로 정렬 */
  align-items: center; /* 내부 요소를 수직 가운데 정렬 */
}

.dateboxChild {
  width: 135px;
  height: 40px;
  text-align: center;
  margin-right: 12px;
  margin-left: 12px;
}

.searchDatebtn {
  display: flex; /* 텍스트와 아이콘을 가로로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  width: auto; /* 필요한 너비만큼 */
  height: 45px;
  margin-left: 20px;
  background-color: #212529;
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
}

.searchDatebtn:hover {
  background-color: #343a40;
  transition-duration: 0.3s;
}

.searchDateIcon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 3px;
}

.searchButtonText {
  margin-left: 10px;
}

.recentOrder {
  margin-top: 50px;
}

.recent-orders {
  height: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.productHeader {
  background-color: #ededed;
  height: 80px;
  text-align: center;
  border: 1px solid #dee2e6;
}

.productHeader th,
td {
  border: none;
}

.productBody {
  text-align: center;
  border-collapse: collapse; /* 테두리 겹치기 방지 */
}
.productBody tr {
  border: 1px solid #dee2e6;
}

.productBody th,
td {
  padding: 8px; /* 셀 내부 여백 지정 */
  border: none;
}

.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productList {
  display: flex;
  justify-content: center;
}

.productDetail {
  width: 230px;
  height: 70px;
  font-size: 13px;
}

.productInfo p {
  font-size: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* 버튼을 위 아래로 정렬하기 위한 설정 */
  gap: 5px; /* 버튼 사이의 간격 설정 */
  align-items: center;
}

/* 제일 밑에 빈 공간 */
.test {
  width: 1900px;
  height: 200px;
}
